$dark-blue: rgb(44,54,63);
$dark-green: rgb(75,127,82);
$bright-red: rgb(254, 74, 73);
$cyan: rgb(64, 201, 162);
$lavender: rgb(160,155,231);
$camo-green: rgb(91,104,44);
$bright-blue: rgb(115,210,222);
$tangerine: rgb(255,90,95);
$tan: rgb(233,205,155);
$metal: rgb(36, 44, 51);
$light-gray: rgb(204, 208, 211);
$light-blue: rgb(126,155,196);
$cancel: rgb(254,101,79);
