:root {
	--blue: #00ADEF;
	--red: #EF4123;
	--green: #A6CE39;
	--off-white: #fcfcfc;
	--grey-level1: #3b4249;
	--grey-level2: #262e35;
	--grey-level3: #192026;
	--grey-level4: #13181D;
	--metal: var(--grey-level3);
	--bulma-tabs-link-active-border-bottom-color : var(--blue);
	--bulma-tabs-link-active-color: var(--blue);
	--tan: var(--white);
	--cancel: var(--red);
	--light-blue: var(--blue);
}
